.border1 {
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.bookCard,
.movie-card,
.trailCard {
    float: left;
    margin-bottom: 2%;
    width: 100%;
}

.cover,
.poster {
    width: 100px;
    float: left;
}

.trailCard {
    background-color:  rgb(255, 210, 96);
}

#campgrounds,
#trails {
    max-height: 500px;
}

#message {
    color:  rgb(255, 210, 96);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}