body {}

div#coolstuff {
    overflow: hidden;
}

#header {
    width: 80%;
    _display: flex;
    _justify-content: space-around;
    z-index: 2;
}

.center {
    _width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    font-family: 'Londrina Shadow', cursive;
    color: rgb(0, 0, 173);
    z-index: 2;
}

.headerDecor {
    z-index: 2;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 173);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 15px;
    background-color: rgb(255, 210, 96);
}

main {
    display: flex;
    justify-content: space-around;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
}

h3 {
    font-family: 'Londrina Solid', cursive;
    font-size: x-large;
    color: rgb(0, 0, 173);
    padding: 7px;
    margin: 5px;
}

p {
    font-family: 'Handlee', cursive;
    font-size: large;
    color: rgb(0, 0, 173);
    padding: 7px;
    margin: 5px;
}

#weather {
    width: 40%;
    border-width: 1px;
    border-style: dotted;
    border-color: rgb(255, 210, 96);
    text-align: center;
}

#weatherResults {
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    justify-content: space-evenly;
    font-family: 'Londrina Solid', cursive;
    color: rgb(0, 0, 173);
}

//need to finish//
#weatherStuff:only-child {
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

#stuff {
    width: 60%;
    border-width: 1px;
    border-style: dotted;
    border-color: rgb(255, 210, 96);
    font-family: 'Londrina Solid', cursive;
    color: rgb(0, 0, 173);
    text-align: center;
    _padding: 5px;
}

.btn-outline-warning {
    font-family: 'Londrina Solid', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#activityButton.btn-outline-warning:hover {
    color: rgb(0, 0, 173);
}

input#submit:hover {
    color: rgb(0, 0, 173);
    background-color: rgb(255, 210, 96);
    ;
}

#footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#zip {
    width: 50%;
}

input {
    border-color: rgb(255, 210, 96);
    font-family: 'Londrina Solid', cursive;
    color: rgb(255, 210, 96);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 5px;
    border-radius: 4px;
}

.container {
    position: relative;
    background-color: white;
}

table {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    color: rgb(0, 0, 173);
}

h6 {
    color: rgb(80, 75, 12);
    ;
}

#resultsTable {
    _display: inline;
    _border: 1px solid black;
    _border-collapse: collapse;
    margin: 20px;
}

table {
    _display: flex;
    _justify-content: center;
    _margin: 10px;
    _color: rgb(0, 0, 173);
}

td {
    font-family: 'Londrina Solid', cursive;
    padding: 6px;
    border: 1px dotted rgb(255, 210, 96);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    _border-collapse: collapse;
}

th {
    padding: 10px;
    border: 2px solid rgb(255, 210, 96);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

#generatehere {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 20px 20px 10px;
}

//need to work on more//
.accordian {
    _border: 1px dotted rgb(255, 210, 96);
}